body {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  font-weight: 300;
}

a {
  color: #5ecb96;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #2a2a2a;
  font-weight: 600;
  letter-spacing: 0.125em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  line-height: 1.75em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

p {
  margin: 0 0 2em 0;
  font-weight: 300;
}

.avatar {
  background-image: url("../img/avatars/logo-circ.png");
}

.avatar-pf {
  background-image: url("../img/avatars/pf_colina_dark-blue-s.jpg");
}

.bg-image {
  background-position: top center;
  background-size: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  /*height: auto;*/
  vertical-align: middle;
  border-style: none;
}

.portfolio-block.compact-grid .item .description {
  text-align: left;
}

.navbar-dark .navbar-nav .nav-link {
  color: #cccccc;
  text-transform: uppercase;
  font-weight: 300;
}

.project-side-img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.project-sidebar-gallery {
  height: 450px;
  margin-bottom: 50px;
}

.img-block {
  width: 100%;
  height: calc((100% / 3) - 9px);
  margin-bottom: 15px;
}

.img-block:last-child {
  margin-bottom: 0px;
}

.bg-dark {
  /*background: #141415;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #141415, #605C3C);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #141415, #605C3C); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  background: none;
  background-color: #1d2726 !important;
}

main.page {
  padding-top: 90px;
}

/*** navigation ****/

.navbar-brand img {
    height: 30px;
}

.navbar-brand.logo > img {
  height: 25px;
  position: relative;
}
.navbar-brand.logo > img:first-child {
  height: 40px;
  border-radius: 50%;
}

.navbar-dark .navbar-toggler {
  border: none;
  height: 30px;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-dark .navbar-toggler:hover  {
  background-color: transparent;
}

/*homepage*/

.website {
  position: relative;
}

.website h3 {
  color: #fff;
}

/*terminal */

.screen-content {
  overflow: hidden;
}

.terminal {
  width: 80%;
  margin: 20px;
  height: 50px;
}

.terminal .header {
  background: linear-gradient(#f1f1f1 , #d3d3d3);
  width: 100%;
  height: 18px;
  border-radius: 5px 5px 0 0;
  position: relative;
  border-bottom: 2px solid;
  border-color: #9a9a9a;
}

.terminal .dot {
  position: absolute;
  top: 25%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
}

.terminal .red {
  margin-left: 10px;
  background: #fc625d;
}

.terminal .yellow {
  margin-left: 30px;
  background: #fdbc40;
}

.terminal .green {
  margin-left: 50px;
  background: #33c748;
}

.terminal .panel {
  height: 136px;
  background: #27292c;
  padding: 10px;
  overflow-y: scroll;
}

.terminal .action {
  margin-bottom: 10px;
}

.terminal .command {
  width: 100%;
  height: 20px;
  color: #62c8bf;
  font-size: 12px;
  font-weight: 300;
}

.terminal .command > span,
.terminal .command > div {
  display: inline;
}

.terminal input[type="text"] {
  width: 90%;
  background: #27292c;
  border: none;
  outline: none;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

.output {
  color: white;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 12px;
}



.bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.parallax {
  background-image: url(../img/lemur-large-md-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.featured {
    padding: 6em 0 4em 0;
    background: #f4f4f4;
}

.image-feature {
    position: relative;
    text-align: center;
    margin: 0 0.5em 2em 0.5em;
    overflow: hidden;
}

.image-feature header {
    background: #fff;
    left: 0;
    padding: 1.5em 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.image-feature header:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    bottom: -0.5em;
    content: '';
    display: block;
    height: 1em;
    left: 50%;
    margin-left: -0.5em;
    position: absolute;
    width: 1em;
}

.image-feature header h3 {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

.image-feature .image {
    margin: 0;
}

.image-feature .image img {
  min-width: 100%;
}



.image-feature .image:before {
    /*background: url(/assets/images/overlay.png);*/
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image-feature .image-feature-footer {
    background: #1d2726;
    background: rgba(29, 39, 38, 0.9);
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 1.5em;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/*** portfolio ***/

.portfolio-block.compact-grid .item {
  background: #fff;
}

.meta-block {
  margin-bottom: 10px;
}

.loading-card, .loading-text {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background-color: #eee;
  display:inline-block;
  float : left;
}

.loading-text {
  height: 30px;
  margin-bottom: 10px;
}

.loading-small {
  width: 150px;
}

@keyframes loading{
  0%{
    background-position:100% 50%
  }
  100%{
    background-position:0 50%
  }
}

.loading-animate {
  background: linear-gradient(
          90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%
  );
  animation: loading 1.4s ease infinite;
  background-size: 400% 100%;
}

.navbar {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/*** project page ***/
.meta-heading {
  font-size: 1em;
  line-height: 1.5em !important;
  color: #2a2a2a !important;
  font-weight: 600 !important;
  letter-spacing: 0.125em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

/**** repos *****/

.repo-heading h1 ::after{
  content: "(public)";
}

.repo-heading h3 {
  font-weight: 300;
  display: inline;
  color: #cccccc;
  border-bottom: 1px solid #ccc;
}

.portfolio-block.compact-grid .item .description hr {
  display: none;
}

.project-card-no-image {
  font-weight: 300;
}

.project-card-no-image h4,
.project-card-no-image h3 {
  font-weight: 300;
}

.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #eee;
  color: #2a2a2a !important;
}

.button.small {
  font-size: 11px;
  font-weight: 400;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 2em;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #1d2726;
  border-radius: 0;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  height: 4em;
  letter-spacing: 0.125em;
  line-height: 4em;
  overflow: hidden;
  padding: 0 2.75em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}


/***** about ******/

.avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}

header.major {
  margin: 0 0 2em 0;
  text-align: center;
  position: relative;
}

header.major:after {
  background: #eee;
  content: '';
  display: inline-block;
  height: 3px;
  margin: 0 0 2em 0;
  width: 6em;
}

header h2 + p {
  font-size: 1em;
  margin-top: -0.85em;
  line-height: 1.75em;
}

 header p {
   letter-spacing: 0.125em;
   margin: 0 0 1.5em 0;
   position: relative;
   text-transform: uppercase;
 }

/**** contact *****/

.contact-page .portfolio-info-card {
  box-shadow: none;
}

.contact-page .fas {
  font-size: 1.1em;
  transition: color 0.2s ease-in-out;
  color: #666;
  position: relative;
  bottom: 0px;
}

.contact-page .fas:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
}

hr {
  border: 0;
  border-bottom: solid 3px #eee;
  margin: 3em 0;
}

.contact-page h2 {
  font-weight: 200;
}

.portfolio-block form {
   max-width: 100%;
   padding: 0px;
   margin: 0;
   box-shadow: none;
}

.contact-page .contact-form {
  box-shadow: none;
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 3.5em;
  color: #eee;
}

.contact-page ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: 3em 0 1em 0;
  display: flex;
  justify-content: left;
}

.contact-page ul.icons a {
  margin: 0 10px;
  color: #282b2d;
  font-size: 18px;
}

.contact-page ul.icons a:hover {
  color: #5ecb96;
}
.contact-page ul.icons li:first-child > a {
  margin-left: 0;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  font-family: "Open Sans", sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  border: solid 2px #eee;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: 15px 0;
}

ul.actions input {
  margin-right: 15px;
}

input[type="submit" i] {
  -webkit-appearance: push-button;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}

input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, button.alt, .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #eee;
  color: #2a2a2a !important;
}

input[type="submit"].alt:hover, input[type="reset"].alt:hover, input[type="button"].alt:hover, button.alt:hover, .button.alt:hover {
  background-color: rgba(144, 144, 144, 0.05);
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #1d2726;
  border-radius: 0;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  height: 4em;
  letter-spacing: 0.125em;
  line-height: 4em;
  overflow: hidden;
  padding: 0 2.75em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
  background-color: #283634;
}

/*remove checkbox and radio*/
input[type="checkbox"], input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  text-decoration: none;
  color: #4a4a4a;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.85em;
  padding-right: 0.75em;
  position: relative;
  margin: 1em 0;
}

/*new checkbox and radio*/
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.05);
  border: solid 2px #eee;
  content: '';
  display: inline-block;
  font-size: 0.8em;
  height: 2.1em;
  left: 0;
  line-height: 1.925em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.1em;
}

 input[type="checkbox"] + label:before, input[type="radio"] + label:before {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   line-height: 1;
   text-transform: none !important;
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
 }

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
  padding-top: 6px;
  background: #1d2726;
  border-color: #1d2726;
  color: #ffffff;
  content: '\f00c';
}

/** textarea **/
textarea {
  padding: 0.75em 1em;
  font-weight: 300;
}

/**** Footer ****/

footer {
  color: #888;
  text-align: center;
  background: #1d2726;
  font-weight: 300;
}

footer ul.icons {
   cursor: pointer;
   list-style: none;
   padding-left: 0;
   margin: 2em 0;
   display: flex;
   justify-content: center;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

ul.icons li .fab:before,
ul.icons li .icon:before {
  font-size: 22px;
}


.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}

ul.icons li .fab:before,
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

ul.icons li .fab:before {
  font-family: inherit;
}

.contact-page .icons li a.icon,
.icons li a.fab,
footer .icons li a.icon {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #666;
}

.contact-page .icons li .fa-stack-overflow:before {
  position: relative;
  bottom: 1px;
}

.contact-page li a.icon:hover,
footer .icons li a.fab:hover,
footer .icons li a.icon:hover {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #fff;
}

.contact-page li a.icon:hover {
  color: #5ecb96;
}


footer .copyright {
  font-size: 0.9em;
  margin: 2em 0 0 0;
}